body{
	color: #fb5;
	background-color:#334;
	border-color: black;
}

a:link{
	color: #445;
	background-color:#eb6;
	
}

a:visited{
	color: #345;
	background-color:#eb6;
}

a:hover{
	color: #667;
	background-color:#eb6;
}

a:active{
	color: #778;
	background-color:#ec8;
}

/*还有顺序可言*/

#logo{
	color: #ec8;
	background-color: #334;
	border-color:red;
}

#navigation{
	color: #455;
	background-color: #789;
	border-color:red;
}

#content{
	color: #223;
	background-color: #edc;
	border-color: white;
}

#navigation ul {
  border-color: #99a;
  
}

#navigation a:link,#navigation a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
#navigation a:hover {
  color: #445;
  background-color: #eb6;
}
#navigation a:active {
  color: #667;
  background-color: #ec8;
}


/*对本页的特殊标记，here是一个class名。js添加的*/
#navigation a.here:link,#navigation a.here:visited,
#navigation a.here:hover,#navigation a.here:active{
  color:#eef;
  background-color:#799;
}



/*对live表格进行的css设置*/
th{
	color:#edc;
	background-color: #455;
}

tr td{
	color: #223;
	background-color: #eb6;
}

/*tr.oddd 是因为前面加了个tr,显示效果不同*/
tr.oddd  td{
	color: #233;
    background-color: #ec8;
}

tr.highlight td{
	color: #233;
    background-color: #cba;
}