body{

	padding: 20px;
	margin:0;
	font-family: 'Microsoft YaHei'; 
	
}


ul{

	list-style: none;
	padding-left:20px;

}

.wrap{

	padding:20px;
	margin:0 auto;
	border: 1px solid #999;
	background: #eee;
	/*尼玛最小宽度啊，大兄弟*/
	min-width: 600px;
	overflow:auto;

}

.left{

	width: 200px;
	padding:20px;
	float:left;
	background: #fff;
    border: 1px solid #999;
    box-sizing: border-box;

}

.left .logo{

	float:left;

}


.left p{

	width:180px;
	font-weight: bold;
	font-size: 18px;
	text-align:center;

}



.right {

	width:120px;
	float:right;
	border: 1px solid #999;
	box-sizing: border-box;
	background: #fff;

}


.photo{

	display:block;
	margin:20px;
    border: 1px solid #999;

}


.middle{

	margin-left: 220px;
	margin-right: 140px;
	padding:20px;
	background: #fff;
	border: 1px solid #999;

}

.middle h1{

	margin:0;

}

.middle h2{

	font-size: 18px;

}