body{

	margin:0;
	padding:20px;
	font-family: 'Microsoft YaHei'; 

}

.wrap{

	position:relative;
	padding:20px;
	background: #eee;
	border:1px #999 solid;
	min-width: 600px;
	min-height: 500px;

}

/*左边部分*/
.left{

	position:absolute;
	top:20px;
	left:20px;
	width:200px;
	/*要设置高度*/
	height:122px;
	box-sizing: border-box;
	border:1px #999 solid;
	background: #fff;
	padding:20px;


}

.logo{

	position: absolute;
	top:20px;
	left:20px;

}

.left p{

	position: absolute;
	top:20px;
	left:120px;
	font-weight: bold;

}

/*右边部分*/

.right{

	padding: 20px;
	position: absolute;
	right:20px;
	box-sizing: border-box;
	border:1px #999 solid;
	background: #fff;

}

.right .photo{

	display:block;
	padding-top:20px;

}

/*这里要单独设置，有点问题*/
.right .photo1{

	padding-top:0;

}

/*中间部分*/
.middle{

	border:1px #999 solid;
	background: #fff;
	position: absolute;
	top:20px;
	left:240px;
	right:160px;
	padding: 20px;

}

.middle h1{

	margin:0;

}


.middle h2{

	font-size: 18px;

}

.middle ul{

	list-style: none;
	padding-left:20px;
	
}